
# Python cache and temporary files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
env/
ENV/

# Logs and debug output
*.log

# IDE specific files
.idea/
.vscode/
*.swp

# System-specific files
.DS_Store
Thumbs.db

# Compiled files
*.o
*.out
*.class

# Distribution/Packaging
dist/
build/
*.egg-info/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
